{% extends 'base.html' %}
{% block title %} SawaalJawaab - {{question.explanation}} {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-header">{{question.explanation}}<button class="btn btn-primary" style="float:right">Answer!</button></h2>
        <p class="question-meta"> {{question.time}} by<a href="/qna/users/{{question.author.username}}"> {{question.author.firstName}} {{question.author.lastName}}</a></p>
    <p>{{question.body}}</p>
    </div>
    <div class="container">
    <h3>Answers</h3>
    {% for answer in answers %}
        <div class="well">
            <h5>{{ answer.author }} on {{answer.createdTime}}</h6>
            <p>{{answer.body}}</p>
        </div>
    {% endfor %}
    </div>
{%endblock%}
