{% extends 'base.html' %}
{% block title %} SawaalJawaab - {{question.explanation}} {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-header">{{question.explanation}}<button class="btn btn-primary btn-lg" style="float:right">Answer!</button></h2>
    <p class="question-meta">{{question.time}} by {{question.author}}</p>
    <p>{{question.body}}</p>
    </div>
    <div class="container">
    <h3>Answers</h3>
    {% for answer in answers %}
        <div class="well">
            <h5>{{ answer.author }} on {{answer.timeofpost}}</h6>
            <p>{{answer.body}}</p>
        </div>
    {% endfor %}
    </div>
{%endblock%}
