{%extends 'base.html'%}
{%block title%} {{curuser.firstName}} {{curuser.lastName}} - SawaalJawaab{%endblock%}
{%block content%}
<div class="container">
    <h2 class="page-header">{{curuser.firstName}} {{curuser.lastName}}
        {% if user.username = curuser.user.username %}
        <button class="btn btn-disabled" id="followss" style="float:right">Follow({{curuser.followed.all|length}})</button>
        {% elif follows %}
        <button class="btn btn-danger" id="follow" style="float:right">Unfollow({{curuser.followed.all|length}})</button>
        {% else %}
            <button class="btn btn-primary" id="follow" style="float:right">Follow({{curuser.followed.all|length}})</button>
        {% endif %}
    </h2>
    <h4>About</h4>
    <p>{{user.about}}</p>
    <h4>Topics followed!</h4>
    <p>
    {%if topics|length == 0 %}
    No topics followed!
    {%endif%}
    {% for topic in topics%} 
        <a href="/qna/topic/{{topic.topic.topicid}}">{{topic.topic.name}}</a>,
    {%endfor%}
    <h4>Recent Activity</h4>
    </p>
    {% if qna|length == 0 %}
    No activity!
    {% endif %}
    {%for item in qna %}
    {% if item.answerid %}
    <p>Added an answer to <a href="/qna/questions/{{item.quesid.qid}}">{{item.quesid}}</a></p>
    {%else%}
    <p>Asked <a href="/qna/questions/{{item.qid}}">{{item}}</a></p>
    {%endif%}
    {%endfor%}
</div>

<script>
$(document).ready(function(){
    var url = '/qna/follow/{{curuser.user.username}}';
    var followButton = document.getElementById("follow");
    followButton.onclick = function() {
        $.get(
            url,
            function(data){
                var follows = data['follows'];
                if (follows==false)
                {
                    followButton.className = "btn btn-primary";
                    followButton.textContent = "Follow ("+data['followers']+")";
                }
                else
                {
                    followButton.className = "btn btn-danger";
                    followButton.textContent = "Unfollow ("+data['followers']+")";
                }
        });
    };
});
</script>

{%endblock%}
